@define-color bg    #1a1b26; 
@define-color fg    #a9b1d6; 
@define-color blk   #32344a; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

@import '../../.cache/wal/colors-waybar.css';

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 18px;
    font-weight: bold;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces button {
    padding: 0 6px;
    color: @color3;
    background: transparent;
    border-bottom: 3px solid @color1;
}
#workspaces button.active {
    color: @color3;
    border-bottom: 3px solid @color4;
}
#workspaces button.empty {
    color: @color1;
}
#workspaces button.empty.active {
    color: @color3;
    border-bottom: 3px solid @color6;
}

#workspaces button.urgent {
    background-color: transparent;
}

button:hover {
    background: transparent;
    box-shadow: transparent;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @color1;
}



#clock {
    color: @color3;
    border-bottom: 3px solid @color1;
}

#battery {
    color: @color3;
    border-bottom: 3px solid @color1;
}

#disk {
    color: @color3;
    border-bottom: 3px solid @color1;
}

#memory {
    color: @mag;
    border-bottom: 3px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 3px solid @grn;
}

#network {
    color: @color3;
    border-bottom: 3px solid @color1;
}

#pulseaudio {
	color: @color3;
	border-bottom: 3px solid @color1;
}

#network.disconnected {
    background-color: @red;
}


