@import '../../.cache/wal/colors-waybar.css';

@define-color txt @color3;
@define-color back @color0;
@define-color tabact @color6;
@define-color tab @color3;


* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 18px;
    font-weight: bold;
}

window#waybar {
    background-color: @back;
    color: @txt;
}

#workspaces button {
    padding: 0 6px;
    color: @txt;
    background: transparent;
    border-bottom: 3px solid @tab;
}
#workspaces button.active {
    color: @txt;
    border-bottom: 3px solid @tabact;
}
#workspaces button.empty {
    color: @txt;
}
#workspaces button.empty.active {
    color: @txt;
    border-bottom: 3px solid @tabact;
}

#workspaces button.urgent {
    background-color: transparent;
}

button:hover {
    background: transparent;
    box-shadow: transparent;
}


#clock,
#battery,
#disk,
#memory,
#cpu,
#network,
#network.disconnected,
#pulseaudio {
    padding: 0 8px;
    color: @txt;
    border-bottom: 3px solid @tab;
}


