h1 {
    color: blue;
    text-align: center;
    background-color: aqua;
}

h2 {
    color:aqua;

}

button {
    color: blueviolet;
    background-color: antiquewhite;
    border-color: brown;
}

::backdrop {
    color: bisque;
}