body {
    background-color: rgb(202, 255, 255);
}


h1 {
    color: blue;
    text-align: center;
    font-size: 70px;
    font: bold;
}

h2 {
    color:black;
    

}

button {
    color: blueviolet;
    background-color: antiquewhite;
    border-color: rgb(0, 0, 0);
    
}

p {
    text-align: center;
}
