body {
    background-color: aqua;
}


h1 {
    color: blue;
    text-align: center;
    background-color: aqua;
    background-origin: content-box;
}

h2 {
    color:black;

}

button {
    color: blueviolet;
    background-color: antiquewhite;
    border-color: brown;
}

::backdrop {
    color: bisque;
}